VITE_SPATIUS_APP_ID=your_app_id #https://app.spatius.ai/apps
VITE_SPATIUS_AVATAR_ID=aed008e4-8ddf-41aa-b5b2-5d7321dd4165 #https://app.spatius.ai/avatars/library
VITE_TOKEN_ENDPOINT=http://localhost:8080/token
VITE_ROOM_NAME=voice-agent-room
